<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Robert's Book
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <img src="/assets/IronMan.jpg" alt=" Iron Man Bethel" />
        <ion-card-header>
            <ion-card-subtitle>Iron G goes to Bethel Tech</ion-card-subtitle>
            <ion-card-title>Author:Robert Nickle</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>Bethel Making One SuperHero @ a Time!!!!</p>
        </ion-card-content>
    </ion-card>

</ion-content>